h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: bolder;
    color: ghostwhite;
    text-align: center;
    padding: 20px;
}
h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 10px;
}

body {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

li {
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    font-size: 15px;
    line-height: 20px;
}

#score {
    font-family: 'Roboto', sans-serif;
    float: left;
}
#random-number {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    width: 250px;
    height: 100px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 10px solid grey;
    float: left;
}

#win-lose {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 250px;
    height: 100px;
    margin-left: 40px;
    margin-bottom: 10px;
    border: 10px solid grey;
    float: left;
}

#header {
    font-family: 'Roboto', sans-serif;
    width: 500px;
    height: 50px;
    border: 20px solid lightgray;
    margin: 10px;
    background-color: gray;
}

.instructions {
    font-family: 'Roboto', sans-serif;
    width: 540px;
    height: 275px;
    border: 20px solid gray;
    margin: 10px;
    background-color: lightgray;
}

#score-head {
    font-family: 'Roboto', sans-serif;
    width: 520px;
    height: 25px;
    border: 20px solid black;
    margin: 10px;
    padding: 10px;
    background-color: greenyellow;
    font-size: 20px;
    font-weight: bold;
    float: left;
}

#crystals {
    font-family: 'Roboto', sans-serif;
}

img {
    font-family: 'Roboto', sans-serif;
    height: 120px;
    width: 120px;
    margin: 0px 15px 10px 10px;
}

#wins {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: left;
}

#losses {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    margin-top: 10px;
    text-align: left;
}

